<div class="product-container">
  <a routerLink="/products/{{product.id}}">
    <img 
      class="product-image"
      src="{{ product.url }}"
    >
  </a>
  <h4>{{ product.name }}</h4>
  <p>${{ product.price }}</p>
  
    
  <select class="select-input" [(ngModel)]="selectedQuantity" #amount>
    <option *ngFor="let quantity of quantities" name="quantity">{{ quantity }}</option>
  </select>
  <br>
  <button type="submit" (click)="addProduct(product, amount.value)" >Add to Cart</button>


</div>