img {
  border-radius: 10px;
  width: 320px;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  margin-left: 128px;
  margin-right: 128px;
}

.back-link {
  margin-top: 8px;
  text-decoration: none;
}

.back-link:hover {
  color: blue;
}

h3 {
  margin: 0.8em 0;
}

p {
  line-height: 2em;
}
